In [77]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer

In [17]:
# https://songhuiming.github.io/pages/2017/04/02/jupyter-and-pandas-display/
pd.options.display.max_rows
pd.set_option('display.max_colwidth', -1)

/Users/jsf/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [18]:
train = pd.read_csv('./data/train.csv')
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation orders in California",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school,1

In [3]:
train.isna().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [4]:
train.shape

(7613, 5)

In [6]:
train.dtypes

id           int64
keyword     object
location    object
text        object
target       int64
dtype: object

In [23]:
train[train['location'].notna()].head()

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/lHYXEOHY6C,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT http://t.co/YAo1e0xngw,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set ablaze in Aba. http://t.co/2nndBGwyEi,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS ABLAZE http://t.co/qqsmshaJ3N,0

In [8]:
train['keyword'].value_counts()

fatalities               45
armageddon               42
deluge                   42
harm                     41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [11]:
train[train['keyword'].isna()]['target'].value_counts()

1    42
0    19
Name: target, dtype: int64

In [22]:
train['text'].str.contains('forest').sum()

23

In [83]:
train[(train['keyword'].notna()) & (train['text'].str.contains('forest fire'))]

,id,keyword,location,text,target
4020,5711,forest%20fire,NaN,e1.1.2 particulate=break up of solid combust fossil fuel voltaic active forest fire biological voc=petroleum ch4 bacteria decomposition,1
4023,5714,forest%20fire,NaN,how is it one careless match can start a forest fire but it takes a whole box to start a campfire?,1
4024,5715,forest%20fire,port matilda pa,our little forest fire wardens http://t.co/aprensss3x,1
4031,5724,forest%20fire,NaN,it starts a forest fire that cannot be put out. http://t.co/3stfmn26r9,1
4033,5727,forest%20fire,NaN,i had to grill for a school function. one of the grills we had going was pretty much either off or forest fire. no inbetween! made it work,0
4034,5729,forest%20fire,NaN,5:15p for those who watch over me forest fire smoke has lifted 'nuff f/me t/make a run t/the pet store on the hwy (n). i'll b/home by 7p.,1
4035,5730,forest%20fire,Los Angeles for now,we are having forest fires out here in #socal but the only fire you should watch for is @ybtheprophet #realhiphop https://t.co/zpsnx5iyaj,1
4038,5734,forest%20fire,Atlanta,how is it one careless match can start a forest fire but it takes a whole box to start a campfire,0
4039,5736,forest%20fires,NaN,only you can prevent forest fires. ???? http://t.co/rgyuakc0dr,1
4041,5740,forest%20fires,NaN,q: why do ducks have big flat feet? a: to stamp out forest fires. q: why do elephants have big flat feet? a: to stamp out flaming ducks.,0
4042,5741,forest%20fires,"alberta, canada",@gilmanrocks7 wow. where is this? for the rest of the summer i usually have to worry about forest fires. calgary is about 8 hours away.,1
4044,5744,forest%20fires,NaN,a little concerned about the number of forest fires where i'll be living,1
4045,5745,forest%20fires,NaN,@nycdivorcelaw trump is a climate denier- algae bloom in the pacific from calif to alska- seeweed in caribean forest fires- snowball inhofe,1
4047,5748,forest%20fires,NaN,cartoon bears. without them we would qave no knowlddge of forest fires or toilet paper.,0
4053,5758,forest%20fires,NaN,i'm about to cook your smokey the bear saving forest fires face ass https://t.co/wtggqs5geh,0
4054,5759,forest%20fires,Nicola Valley,forest fires &amp; dying salmon: time 2 act not deny. climate change nightmares are here http://t.co/rbzomwgjee #bcpoli #canpoli #vanpoli,1
4055,5760,forest%20fires,Tips on my blog at,tales of the #trees #deep water loving #lake tahoe. and no #forest fires https://t.co/xuhmj098lq,0
4056,5763,forest%20fires,"Boise, Idaho",8-5-2015 - 4:30 p.m. - progress being made on boise forest fires\nhttp://t.co/6o1mgmghgt http://t.co/wtpo6elrzd,1
4058,5765,forest%20fires,NaN,pray! for east coast forest fires! pray! that they be put out. pray! for rain!,1
4059,5766,forest%20fires,Duncan,@bluejays @braves @angels instead of dumping water on yourselves please send it to british columbia to help with the forest fires,1
4061,5771,forest%20fires,Texas,' no pharrell only you can prevent forest fires ' ??,0
4065,5777,forest%20fires,"Portland, Oregon",inciweb or update: rogue river-siskiyou national forest fires 8/5/15 12:00 pm (rogue river-siskiyou nf areaû_ http://t.co/lkwxu8qv7n,1
4066,5778,forest%20fires,"Vancouver, BC",forest fires could delay @abbyairshow but officials say it could be a good thing http://t.co/vxjcx8ukmd,1
4069,5783,forest%20fires,NaN,when ur friend and u are talking about forest fires in a forest and he tells u to drop ur mix tape out there... #straightfire,1
7317,10472,wild%20fires,"West Vancouver, B.C.",man selling wild morels at ambleside farmr mart.sun.-mushroom foragesecret is to know what trees they grow under &amp; best after forest fires,0

In [69]:
train[(train['text'].str.contains('#'))]

,id,keyword,location,text,target
0,1,NaN,NaN,our deeds are the reason of this #earthquake may allah forgive us all,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation orders in california",1
4,7,NaN,NaN,just got sent this photo from ruby #alaska as smoke from #wildfires pours into a school,1
5,8,NaN,NaN,#rockyfire update => california hwy. 20 closed in both directions due to lake county fire - #cafire #wildfires,1
6,10,NaN,NaN,"#flood #disaster heavy rain causes flash flooding of streets in manitou, colorado springs areas",1
...,...,...,...,...,...
7598,10853,NaN,NaN,father-of-three lost control of car after overtaking and collided #bathandnortheastsomerset http://t.co/fa3fcnln86,1
7599,10854,NaN,NaN,1.3 #earthquake in 9km ssw of anza california #iphone users download the earthquake app for more information http://t.co/v3azwoamzk,1
7601,10859,NaN,NaN,#breaking #la refugio oil spill may have been costlier bigger than projected http://t.co/5uecmcv2pk,1
7604,10863,NaN,NaN,#worldnews fallen powerlines on g:link tram: update: fire crews have evacuated up to 30 passengers who were tr... http://t.co/eysvvza7qm,1
7607,10867,NaN,NaN,#stormchase violent record breaking ef-5 el reno oklahoma tornado nearly runs over ... - http://t.co/3sicroaanz http://t.co/i27oa0hisp,1

In [37]:
train['text'] = train['text'].str.lower()

In [39]:
train['keyword'] = train['keyword'].str.lower()

In [59]:
len('6ioabsl6i7')

10

In [60]:
test = pd.read_csv('./data/test.csv')
test.head()

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, stay safe everyone."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are fleeing across the street, I cannot save them all"
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan

In [64]:
train[train['text'].duplicated()]

,id,keyword,location,text,target
48,68,ablaze,Live On Webcam,check these out: http://t.co/roi2nsmejj http://t.co/3tj8zjin21 http://t.co/yduixefipe http://t.co/lxtjc87kls #nsfw,0
115,165,aftershock,US,320 [ir] icemoon [aftershock] | http://t.co/vam5podgyw | @djicemoon | #dubstep #trapmusic #dnb #edm #dance #icesû_ http://t.co/zevakjapcz,0
119,172,aftershock,Switzerland,320 [ir] icemoon [aftershock] | http://t.co/thyzomvwu0 | @djicemoon | #dubstep #trapmusic #dnb #edm #dance #icesû_ http://t.co/83joo0xk29,0
164,238,airplane%20accident,NaN,experts in france begin examining airplane debris found on reunion island: french air accident experts on wednesday began examining t...,1
624,898,bioterrorism,NaN,to fight bioterrorism sir.,0
...,...,...,...,...,...
7600,10855,NaN,NaN,evacuation order lifted for town of roosevelt: http://t.co/edyfo6e2pu http://t.co/m5kxlpkfa1,1
7607,10867,NaN,NaN,#stormchase violent record breaking ef-5 el reno oklahoma tornado nearly runs over ... - http://t.co/3sicroaanz http://t.co/i27oa0hisp,1
7609,10870,NaN,NaN,@aria_ahrary @thetawniest the out of control wild fires in california even in the northern part of the state. very troubling.,1
7610,10871,NaN,NaN,m1.94 [01:04 utc]?5km s of volcano hawaii. http://t.co/zdtoyd8ebj,1
7611,10872,NaN,NaN,police investigating after an e-bike collided with a car in little portugal. e-bike rider suffered serious non-life threatening injuries.,1

In [66]:
test['text'].duplicated().sum()

20

In [75]:
train[(train['text'].str.contains('t.co'))]['target'].value_counts(normalize=True)

1    0.543634
0    0.456366
Name: target, dtype: float64

In [73]:
train['target'].value_counts(normalize=True)

0    0.57034
1    0.42966
Name: target, dtype: float64

In [76]:
train[(train['text'].str.contains('http'))&~(train['text'].str.contains('t.co'))]

,id,keyword,location,text,target
2395,3446,derail,NaN,dozens die as two trains derail into a river in indiahttp://www.informationng.com/?p=309943,1

In [82]:
train[train['keyword'].str.contains('%20')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [86]:
keyword_dis = {}
for keyword in set(train['keyword']):
    keyword_dis[keyword] = train[train['keyword'] == 'derail']['target'].mean()

In [85]:
train[train['keyword'] == 'derail']['target'].mean()

0.4857142857142857